<!DOCTYPE html>
<html lang="en" class="single">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="../../../css/main.css">
</head>
<body>
    <section>
        <div class="single-wrapper">
            <h1>{{ .Title }}</h1>
            <p>Due {{ .Date.Format "02 January 2006" }}</p>
            <div class="custom-div"></div>
            <a href="../../../index.html#main-information"><p>&lt; Back to main</p></a>
            {{ .Content }}
        </div>
    </section>
</body>
</html>