:root {
    --cover-gradient: #6a45807e;
    --background-shadow: #3d214d;
    --button-background: #6a4580;
    --base-one: black;
    --base-two: white;
    --color-one: #9873c2;
    --color-two: #ba97e2;
    --font-one: Montserrat;
    --font-two: "Abril Fatface";
    --back-image: url("https://images.unsplash.com/photo-1477511801984-4ad318ed9846?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
}
*{
    padding: 0;
    margin: 0;
}
html{
    background-color: var(--base-two);
    font-family: var(--font-one);
}
h1{
    font-family: var(--font-two);
    font-size: 50px;
    letter-spacing: 2.2px;
    padding: 5px;
}
h2{
    font-family: var(--font-one);
    font-size: 24px;
    margin: 5px;
    padding: 5px;
}
p{
    font-family: var(--font-one);
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}
a{
    width: 100%;
}
.custom-div{
    border-bottom: 1px var(--base-one) solid;
    padding-right: 10px;
    margin-bottom: 10px;
}
.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: 
        linear-gradient(var(--cover-gradient), var(--cover-gradient)),    
        var(--back-image);
    background-size: cover;
    height: 70vh;
    color: var(--base-two);
    padding: 8%;
}
.header-inner h1{
    text-shadow: 3px 3px 3px var(--color-one);
}
.header-inner{
    background-image: linear-gradient(var(--cover-gradient), var(--cover-gradient));
    box-shadow: 15px 15px var(--background-shadow);
    padding: 20px;
}
button{
    background-color: var(--button-background);
	border-radius: 28px;
	border: 1px solid var(--base-two);
	display: inline-block;
    color: var(--base-two);
    margin: 5px;
    padding: 15px 30px;
    font-family: var(--font-one);
    font-size: 20px;
    box-sizing: border-box;
    cursor: pointer;
}
.main-split{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    padding: 5%;
}
.footer{
    background-color: var(--color-two);
    padding: 30px;
}
.footer div{
    background-color: var(--base-two);
    box-shadow: 15px 15px var(--color-one);
    padding: 10px;
}
.single{
    /*background-color: var(--color-two);*/
    background-image: 
        linear-gradient(var(--cover-gradient), var(--cover-gradient)),
        var(--back-image);
}
.single-wrapper{
    margin: 3%;
    padding: 10px;
    background-color: var(--base-two);
    box-shadow: 15px 15px var(--color-one);
}
.single-wrapper div{
    padding: 0 10px;
}
@font-face{
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face{
    font-family: "Abril Fatface";
    src: url("../fonts/AbrilFatface-Regular.ttf");
}